.view-modal{
  .header {
    border-bottom: 1px solid #dadfea;
    background-color: #eef1f7;
    padding: 0 20px;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    &__title {
      font-size: 20px;
      color: #444c63;
    }

    &__cancel {
      padding: 0;
      border: none;
      font: inherit;
      color: inherit;
      background-color: transparent;
      cursor: pointer;

      &:hover {
        outline: none;
      }
      &:focus {
        outline: none;
      }

      i {
        color: #78829d;
        font-size: 16px;

        &:hover {
          color: #585f79;
        }
      }
    }
  }
}