.add-modal {
  width: 700px;
  min-height: 533px;
  background-color: #eef1f7;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}